<div class="container">
    <h1>Contacto</h1>

    <div id="texto" #textos>
        <p appResaltado>
            Esta es la pagina de contacto, puedes enviarnos cualquier duda.
        </p>
    </div>


    <!-- Tamaño del slider:
    <input type="number" [(ngModel)]="widthSlider" />
    <button (click)="cargarSlider()">Cargar slider</button>
    <button (click)="resetearSlider()">Resetear slider</button>
    <div *ngIf="anchuraToSlider">
        <app-slider [anchura]="anchuraToSlider" [etiquetas]="captions" (conseguirAutor)="getAutor($event)">
        </app-slider>
    </div>
    {{autor.nombre + " " + autor.web}}
 -->
</div>