<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>

</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et arcu lorem. Maecenas ut lacus justo. Praesent at mollis turpis, sit amet vestibulum leo. Phasellus ut vulputate magna. Nulla non nibh ac nunc commodo interdum. Praesent iaculis est lacus.
        Fusce vitae massa elementum, consectetur turpis ac, scelerisque lacus. Vivamus accumsan dui vitae nulla semper, id bibendum nibh molestie. Vestibulum orci enim, mollis vitae elementum at, placerat at nulla. Quisque nec luctus libero. Proin feugiat
        erat sed lorem lobortis consectetur.
    </p>
</article>