Tamaño del slider: <strong>{{anchura}}</strong>, Captions: <strong>{{etiquetas}}</strong>

<div class="galeria">
    <div><img src="assets/img/1.jpg" title="Funky roots"></div>
    <div><img src="assets/img/2.jpg" title="The long and winding road"></div>
    <div><img src="assets/img/3.jpg" title="Happy trees"></div>
</div>

<button (click)="lanzar($event)">Conseguir Autor</button>